<div class="container">
    <form class="form" action="">
        <img src="../assets/logo.png" width="100" alt="Logo KioskU">
        <h1>Registrarse</h1>
        <div class="row">
            <mat-form-field color="accent">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput placeholder="Ej. Juan">
            </mat-form-field>  
            <mat-form-field color="accent">
                <mat-label>Apellido</mat-label>
                <input type="text" matInput placeholder="Ej. Hernandez">
            </mat-form-field>  
        </div>
        <div class="row">
            <mat-form-field color="accent">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput placeholder="Ej. ****************">
            </mat-form-field>
            <mat-form-field color="accent">
                <mat-label>Repetir Contraseña</mat-label>
                <input type="password" matInput placeholder="Ej. ****************">
            </mat-form-field>   
        </div>
        <mat-form-field color="accent">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ej. example@gmail.com">
        </mat-form-field>  
          <button mat-raised-button class="boton" color="accent">Registrarse</button>
          <button mat-stroked-button class="boton2" color="basic" [routerLink]="['/login']" routerLinkActive="active">Ya tengo una cuenta</button>
    </form>
</div>