.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    width: 600px;
}


mat-form-field{
    min-width: 80%;
}
