.left {
    display:block;
    text-align: center;/* Centrar horizontalmente los elementos */
    /* margin-right: auto; */
    width: 15%;
    height: 3px;
}

.container-fluid {
  background-color: #FBC923;

}
 
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.header {
  background-color: rgb(123, 121, 121);
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 50px 0;
  min-height: 85px; /* Altura mínima del header */
  margin-top: 10px;
}

 
  /*background-color: rgb(237, 227, 39);*/