<div class="container">
    <form class="form" action="">
        <img src="../assets/logo.png" width="100" alt="Logo KioskU">
        <h1>Iniciar Sesion</h1>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ej. example@gmail.com">
          </mat-form-field>        
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Ej. ****************">
          </mat-form-field>   
          <button mat-raised-button class="boton" color="accent">Enviar</button>
          <button mat-stroked-button class="boton2" color="basic" [routerLink]="['/restablecer-contrasena']" routerLinkActive="active">Olvidé mi contraseña</button>     
          <button mat-stroked-button class="boton2" color="basic" [routerLink]="['/registro']" routerLinkActive="active">Aun no tengo una cuenta</button>     
    </form>
</div>