<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<div class="container-fluid col-md-12 col-sm-12">
  <div class="items">
    <div *ngFor="let producto of productos; let i = index;" class="item">
      <mat-card class="example-card">
        <mat-card-content>
        <h1 class="nombre">{{producto.nombre}}</h1>
        <img mat-card-image class="imagenproducto" src="../assets/productos/{{producto.nombre}}.jpeg" alt="{{producto.nombre}}">
            <h1 class="price">$ {{producto.precioVenta}}</h1>
        </mat-card-content>
        <mat-card-actions class="button">
          <button class="btn btn-dark" [routerLink]="['/producto',i]">Ver Producto</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Productos</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <div class="container">
      <div class="row">
        <h1 class="productosDispo">Productos disponibles</h1>
        <!-- Paginación -->
        <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        <!-- Fin Paginación -->
        <div class="col-md-4 mb-4" *ngFor="let producto of productos | paginate: {itemsPerPage: 6, currentPage: page, id: 'index'}; let i = index">
          <div class="card card-container" style="width: 18rem;">
            <img [src]="'../assets/productos/' + producto.nombre + '.jpeg'" alt="{{ producto.nombre }}" class="card-img-top centered-image" width="10">
            <div class="card-body">
              <h5 class="card-title">{{ producto.nombre }}</h5>
              <p class="card-text">$ {{ producto.precioVenta }}</p>
              <a href="#" class="btn btn-warning" [routerLink]="['/producto', i]">Ver Producto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body> 
</html>

