<div class="container">
  <div class="items">
    <div *ngFor="let producto of productos; let i = index;" class="item">
      <mat-card class="example-card">
        <img mat-card-image src="../assets/cafe.webp" alt="cafe">
        <mat-card-content>
          <p class="info">
            Nombre: {{producto.nombre}}
            <span class="price">Precio: {{producto.precio}}</span>
          </p>
        </mat-card-content>
        <mat-card-actions class="button">
          <a class="a-edit" [routerLink]="['/producto',i]">Ver Producto</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="ver-pedido">
    <button mat-raised-button color="accent" [routerLink]="['/carrito']">Ver mi Pedido</button>
  </div>
</div>