.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  font-size: 15px;
  max-width: 1200px;
}
.a-delete{
  text-decoration: none;
  color: red;
  cursor: pointer;
}

.a-edit{
  text-decoration: none;
  color: green;
  margin-right: 15px;
}

.error{
  margin-top:200px;
  margin-bottom:200px;

}
.error-message{
  margin-top: 50px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}


@media (max-width:780px) {
  .container{
    font-size: 15px;
    font-weight: lighter;
    max-width: 550px;
  }
}

p{
  font-size: 50px;
  font-weight: lighter;
}

.pedidos{
  margin-top: 50px;
  margin-bottom: 50px;
}

.agregarProducto {
  margin-top: 5px;
  margin-bottom: 30px;
}

.titulo h1 {
  font-weight: bold;
}
