.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .a-delete{
    text-decoration: none;
    color: red;
    cursor: pointer;
  }

  .a-edit{
    text-decoration: none;
    color: green;
    margin-right: 10px;
  }